/* @import "./partials/animations.css";
@import "./partials/blocks.css";
@import "./partials/code.css";
@import "./partials/collab.css";
@import "./partials/lists.css";
@import "./partials/placeholder.css";
@import "./partials/table.css";
@import "./partials/typography.css";

.ProseMirror {
  @apply z-0 caret-black outline-0 dark:caret-white;

  .selection {
    @apply inline;
  }

  .selection,
  *::selection {
    @apply inline bg-black/10 dark:bg-white/20;
  }

  & > .react-renderer {
    @apply my-12 first:mt-0 last:mb-0;
  }

  &.resize-cursor {
    @apply cursor-col-resize;
  }

  .ProseMirror-gapcursor {
    @apply relative mx-auto w-full max-w-2xl;

    &:after {
      @apply -top-[1.5em] left-0 right-0 mx-auto w-full max-w-2xl border-t-black/40 dark:border-t-white/40;
    }
  }
}

[data-theme="slash-command"] {
  width: 1000vw;
} */

.ProseMirror {
	@apply px-4 pt-2;
	outline: none !important;
}

h1.tiptap-heading {
	@apply mb-6 mt-8 text-4xl font-bold;
}

h2.tiptap-heading {
	@apply mb-4 mt-6 text-3xl font-bold;
}

h3.tiptap-heading {
	@apply mb-3 mt-4 text-xl font-bold;
}

h1.tiptap-heading:first-child,
h2.tiptap-heading:first-child,
h3.tiptap-heading:first-child {
	margin-top: 0;
}

h1.tiptap-heading + h2.tiptap-heading,
h1.tiptap-heading + h3.tiptap-heading,
h2.tiptap-heading + h1.tiptap-heading,
h2.tiptap-heading + h3.tiptap-heading,
h3.tiptap-heading + h1.tiptap-heading,
h3.tiptap-heading + h2.tiptap-heading {
	margin-top: 0;
}

.tiptap p.is-editor-empty:first-child::before {
	@apply pointer-events-none float-left h-0 text-accent-foreground;
	content: attr(data-placeholder);
}

.tiptap ul,
.tiptap ol {
	padding: 0 1rem;
}

.tiptap blockquote {
	border-left: 3px solid gray;
	margin: 1.5rem 0;
	padding-left: 1rem;
}
